#features {
  text-align: center;
  white-space: nowrap;
  margin-bottom: 30px;
}

div.feature {
  display: inline-block;
  width: 25%;
  white-space: normal;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#slogan-background {
  display: table;
  background-size: cover;
  margin: auto;
  height: 350px;
  width: 75%;
  background-image: url(images/people.jpg);
  background-position: center;
  padding-left: 40px;
  padding-right: 40px;
}

#slogan {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 48px;
  text-align: center;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#copyright {
  position: fixed;
  float: bottom;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5px;
}

p {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
}
