body {
  margin: 0;
  text-align: center;
  color: #353535;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

button {
  padding: 3px;
  background-color: #fff;
  color: #b2b2b2;
  border: 1px solid #f1f1f1;
  border-radius: 50px;
  font-family: 'Scope One', serif;
  font-size: 14px;
}

button:hover,
button:focus {
  outline: none;
  color: #fff;
  background-color: #6d94b6;
  border-color: #6d94b6;
}

textarea {
  resize: none;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  font-family: 'Scope One', serif;
  font-size: 14px;
  color: #b2b2b2;
  font-style: italic;
}

textarea:focus {
  outline: none;
}

h1 {
  display: table-cell;
  width: 20%;
  margin: 0;
  font-size: 30px;
  font-family: 'Scope One', serif;
  color: #81a9ca;
}

h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
}

p {
  margin: 0;
}

#header {
  display: table;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2px 20px;
  background-color: #fff;
}

.shadow {
  box-shadow: 0 0 2px #d6d6d6;
}

#navigation,
#search {
  display: table-cell;
  vertical-align: middle;
  width: 40%;
}

.navigation {
  display: table;
  position: relative;
  float: left;
  margin-right: 20px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  padding: 6px;
}

.lnr {
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: auto;
  background-color: #353535;
  color: #fff;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  padding: 3px 6px;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translate(-50%,7px);
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -3px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent #353535;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#search #search-input {
  float: right;
  width: 50%;
  height: 30px;
  padding: 4px 4px 4px 10px;
  border-radius: 50px 0 0 50px;
  border-right: 0;
  white-space: nowrap;
  overflow: hidden;
}

#search-button {
  display: table;
  float: right;
  height: 28px;
  width: 20px;
  border-radius: 0 50px 50px 0;
  border-left: 0;
  box-sizing: content-box;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 46px;
  box-sizing: border-box;
}

.container {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px;
}

#left {
  width: 23%;
  background-color: #81a9ca;
  color: #fff;
}

#right {
  width: 23%;
}

#center {
  width: 54%;
  background-color: #f2eee8;
}

#user-info .photo {
  margin: auto;
  width: 125px;
  height: 125px;
  background-size: cover;
  background-position: center;
}

.photo {
  border-radius: 50%;
}

#user-info #username {
  margin-bottom: 15px;
}

#user-info #about-me {
  margin-bottom: 15px;
}

#user-info #follow {
  width: 70%;
  border: 0;
  color: #fff;
  background-color: #6d94b6;
}

#new-update {
  margin: auto;
  background-color: #fff;
  padding: 15px;
  text-align: right;
}

#post-input {
  width: 100%;
  resize: vertical;
  padding: 2px;
  border-color: #fff;
}

#post-input:focus {
  border-color: #f1f1f1;
}

#post-button {
  width: 50px;
  height: 32px;
}

#updates {
  margin-top: 20px;
  background-color: #fff;
}

.update {
  position: relative;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.update .photo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
}

.update .name {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 55px;
}

.update .username {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  color: #b2b2b2;
}

.update .timestamp {
  display: inline-block;
  float: right;
  text-align: right;
  font-weight: 300;
  color: #d6d6d6;
}

.update .post {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding-left: 55px;
  padding-right: 15px;
  font-weight: 300;
}
