body {
  min-width: 1024px;
  margin: 0;
  text-align: center;
  color: #353535;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

button {
  padding: 3px;
  background-color: #fff;
  color: #b2b2b2;
  border: 1px solid #f1f1f1;
  border-radius: 50px;
  font-family: 'Scope One', serif;
  font-size: 14px;
}

button:hover,
button:focus {
  outline: none;
  color: #fff;
  background-color: #6d94b6;
  border-color: #6d94b6;
}

button:focus {
  outline: none;
}

textarea,
input {
  resize: none;
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  font-family: 'Scope One', serif;
  font-size: 14px;
  color: #b2b2b2;
  font-style: italic;
}

textarea:focus,
input:focus {
  outline: none;
}

h1 {
  display: table-cell;
  width: 20%;
  margin: 0;
  font-size: 30px;
  font-family: 'Scope One', serif;
  color: #81a9ca;
}

#description h2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
}

#hashtag {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  font-size: 18px;
  color: #81a9ca;
  font-weight: lighter;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 4px solid #f2f6f9;
}

p {
  margin: 0;
}

#header {
  display: table;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  min-width: 1024px;
  box-sizing: border-box;
  padding: 2px 20px;
  background-color: #fff;
}

.shadow {
  box-shadow: 0 0 2px #d6d6d6;
}

#left-nav,
#right-nav {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 40%;
}

#right-nav {
  text-align: center;
}

.navigation {
  display: table;
  position: relative;
  float: left;
  margin-right: 20px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  padding: 6px;
}

#right-nav .navigation {
  float: right;
  margin-right: 0;
}

#header .lnr {
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: auto;
  background-color: #b2b2b2;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  padding: 3px 6px;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translate(-50%,7px);
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -3px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent #b2b2b2;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

#search {
  float: left;
  width: calc(50% + 40px);
  height: 30px;
  margin-top: 2px;
}

#search #search-input {
  float: left;
  width: calc(100% - 41px);
  height: 30px;
  padding: 4px 4px 4px 10px;
  border-radius: 15px 0 0 15px;
  border-right: 0;
  white-space: nowrap;
  overflow: hidden;
}

#search-button {
  display: table;
  float: left;
  height: 28px;
  width: 20px;
  border-radius: 0 15px 15px 0;
  border-left: 0;
  box-sizing: content-box;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

#search #results {
  visibility: hidden;
  position: absolute;
  top: 36px;
  left: 54px;
  width: calc(50% + 38px);
  background-color: #fff;
  border: 1px solid #f1f1f1;
  border-top: 0;
  border-radius: 0 0 15px 15px;
}

#content {
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 46px;
  box-sizing: border-box;
}

.container {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  padding: 20px;
}

#left {
  width: 22%;
  background-color: #81a9ca;
  color: #fff;
}

#right {
  width: 22%;
}

#center {
  width: 56%;
  background-color: #f2eee8;
}

#user-info .photo {
  margin: auto;
  width: 126px;
  height: 126px;
  background-size: cover;
  background-position: center;
}

.photo {
  border-radius: 50%;
}

#user-info #username {
  margin-bottom: 15px;
}

#user-info #about-me {
  margin-bottom: 15px;
}

#user-info #follow,
#user-info #edit-profile,
#user-info #save {
  width: 70%;
  border: 0;
  color: #fff;
  background-color: #6d94b6;
}

.field {
  display: table-row;
  height: 30px;
}

.field div {
  display: table;
  position: absolute;
  float: left;
  width: 30px;
  height: inherit;
}

#left input {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label {
  position: absolute;
  display: inline-block;
  transform: translate(-50%,-100%);
  box-sizing: border-box;
  width: 126px;
  height: 126px;
  background-color: rgba(0,0,0,.2);
  border-radius: 50%;
  padding-top: 43px;
  padding-bottom: 43px;
}

label:hover {
  background-color: rgba(0,0,0,.5);
}

label span {
  margin: auto;
  font-size: 40px;
}

#editor {
  display: table;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  background-color: #fff;
  padding: 5px;
  margin-top: 30px;
}

#editor .lnr {
  display: table-cell;
  vertical-align: middle;
  color: #353535;
  font-size: 20px;
}

#editor #check,
#editor #cross {
  visibility: hidden;
}

#editor .lnr-checkmark-circle {
  color: green;
}

#editor .lnr-cross-circle {
  color: red;
}

#bio .lnr {
  transform: translateY(-30px);
}

#bio.field {
  height: 90px;
}

#user-info #error-msg {
  height: 16px;
  margin-bottom: 20px;
}

.field div {
  background-color: #fff;
}

#editor textarea {
  float: right;
  padding-left: 32px;
  width: 100%;
  height: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 0;
  border-right: 0;
}

#name textarea {
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
}

#username textarea {
  padding-right: 32px;
  white-space: nowrap;
  overflow: hidden;
}

#bio textarea {
  border-bottom: 0;
}

#stats {
  display: table;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
}

#stats .stat {
  display: table-cell;
  width: 33%;
  padding: 10px 10px 6px;
  border-bottom: 4px solid #fff;
}

#stats .stat:hover {
  border-color: #e5edf4;
}

#stats .label {
  color: #b2b2b2;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  pointer-events: none;
}

#stats .count {
  font-weight: bold;
  pointer-events: none;
}

#new-update {
  background-color: #fff;
  padding: 15px;
  text-align: right;
}

#post-input {
  width: 100%;
  resize: vertical;
  padding: 2px;
  border-color: #fff;
}

#post-input:focus {
  border-color: #f1f1f1;
}

#post-button {
  width: 50px;
  height: 32px;
}

#updates,
#list {
  margin-top: 20px;
  background-color: #fff;
}

.update {
  position: relative;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}

.update .photo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

.update .name,
.user .name,
.result .name {
  display: inline-block;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 55px;
}

.update .username,
#list .user .username {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  color: #b2b2b2;
}

.update .timestamp {
  display: inline-block;
  float: right;
  text-align: right;
  font-weight: 300;
  color: #d6d6d6;
}

.update .post,
#list .user .stat,
#suggestions .user .username,
.result .username {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding-left: 55px;
  text-align: left;
  font-weight: 300;
}

.update .like {
  width: 23px;
  height: 22px;
  margin-top: 5px;
  margin-left: 55px;
}

.update .like:hover,
.update .like:focus {
  background-color: #c3878a;
  border-color: #fff;
}

.like .lnr {
  position: relative;
  font-size: 14px;
  font-weight: bold;
}

.update .like-count {
  position: absolute;
  color: #b2b2b2;
  margin-left: 5px;
  font-size: 14px;
  line-height: 22px;
  transform: translateY(5px);
}

#list {
  width: 100%;
  margin-top: 0;
  background-color: #fff;
  border-spacing: 8px;
}

#list .message {
  text-align: left;
  padding: 20px;
}

#list .user {
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  height: 60px;
  padding: 5px;
  border: 1px solid #f1f1f1;
}

#list .user:hover {
  background-color: #f1f1f1;
}

#list div,
#list h4,
#list p {
  pointer-events: none;
}

.user .stat {
  color: #81a9ca;
}

#trending {
  text-align: left;
  margin-bottom: 20px;
}

#trending h3 {
  margin-bottom: 10px;
}

#trending .hashtag {
  display: block;
}

.hashtag {
  text-decoration: none;
  color: #81a9ca;
}

.hashtag span:hover,
.hashtag span:focus {
  text-decoration: underline;
}

.hashtag:visited {
  color: #81a9ca;
}

#suggestions .user,
#search .result {
  position: relative;
  text-align: left;
  height: 40px;
  margin-top: 20px;
}

#search .result {
  margin: 0;
  padding: 10px;
}

#search .result:hover,
#search .result:focus {
  background-color: #f2f6f9;
}

.user .photo,
.result .photo {
  position: absolute;
  float: left;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

#suggestions .user .name,
.result .name {
  position: relative;
  float: top;
  margin-top: 2px;
}

#suggestions .user .username,
.result .username {
  position: absolute;
  color: #b2b2b2;
  margin-top: 0;
  width: auto;
  left: 55px;
  bottom: 2px;
  padding-left: 0;
}

.result .username {
  left: 65px;
  bottom: 12px;
  color: #353535;
}

.user .lnr {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 20px;
  color: #b2b2b2;
}

.user .lnr-checkmark-circle {
  color: #81a9ca;
  font-weight: bold;
}

.user .lnr-checkmark-circle:hover {
  color: #b2b2b2;
  font-weight: bold;
}

.user .lnr-plus-circle:hover {
  color: #81a9ca;
  font-weight: bold;
}

#suggestions .name:hover,
#suggestions .username:hover,
#updates .name:hover,
#updates .username:hover {
  color: #81a9ca;
}

button,
label,
#list .user,
.result,
#content .name,
#content .username,
.user .lnr-checkmark-circle,
.user .lnr-plus-circle,
#stats .stat {
  cursor: pointer;
}
